@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

 .img{
  width: 100%;
}

#Home1{

  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url(https://rukminim2.flixcart.com/image/850/1000/k8ait8w0/poster/m/c/b/medium-gym-boy-girl-poster-poster-for-decoration-decorative-original-imafqccs56unyfu2.jpeg?q=90);
 background-repeat: no-repeat;
 background-size: 100% 100%;
 background-color: #000;

}
#Home2{
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url(https://t4.ftcdn.net/jpg/00/89/95/75/360_F_89957541_JEiZn914VlEgJBjhVjy8DRDHckcXUc6e.jpg);
 background-repeat: no-repeat;
 background-size: 100% 100%;
 background-color: #000;

}



.sliding{
  margin-bottom:25%;
  font-family: "Oswald,sans-serif";
  
}
.sliding>h3{
 
  font-size: 60px;
font-weight: 700;
}
#CourseOfHome{
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 60px;
}
.headerOfCourse h3{
  font-weight: 500;
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

#CourseOfHome>button{
 margin-left: 45%;
 margin-top: 50px;
}

#CourseOfHome hr{
 margin: 0 auto;
  width: 50px;
  border: 1px solid black;
}

.img{
 
  width: 100%;
  height: 700px;
}

.CourseChild{
  display: grid;
  grid-template-columns: repeat(3,1fr);
 column-gap: 10px;
 
 
}
.CourseChild>div{

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-bottom: 10px;
  
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.CourseChild div p{
  margin-left: 10px;
  font-family: 'Oswald', sans-serif;
}

.CourseChild>div p:nth-child(3){
  color: gray;
}

.selling-level{
 
  display: inline-block;
  
    padding: 0.3rem 0.6rem;
    white-space: nowrap;
    background-color: #eceb98;
    color: #3d3c0a;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.2rem;
}

.review{
  display: flex;
  justify-content: space-between;
  
  margin-left: 10px;
  margin-bottom: 20px;
}
.rating{
  font-size: larger;
  color:brown;
  margin-right: 10px;
}
.NoOfPeople{
  margin-left: 10px;
}

.checked{
  color: orange;
}
.CourseChild div>img{
  width: 100%;
 
}

.CourseChild div>button{
 margin-left: 40%;
 appearance: none;
 background-color: #2ea44f;
 border: 1px solid rgba(27, 31, 35, .15);
 border-radius: 6px;
 box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
 box-sizing: border-box;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 font-family: 'Oswald', sans-serif;
 font-size: 14px;
 font-weight: 500;
 line-height: 20px;
 padding: 6px 16px;
 position: relative;
 text-align: center;
 text-decoration: none;
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 vertical-align: middle;
 white-space: nowrap;
 
 
}

.CourseChild div>button:focus:not(:focus-visible):not(.focus-visible){
  box-shadow: none;
  outline: none;
}

.CourseChild div>button:hover{
  
    background-color: #2c974b;
  
}

.CourseChild div>button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.CourseChild div>button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.CourseChild div>button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #F3AA60;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background:  #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}


/**************************************** Our Instructors***********************************************/

.OurInstructor-header>h3{
  font-weight: 500;
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.OurInstructor{
  margin-top: 78px;
}

.OurInstructor hr{
  margin: 0 auto;
   width: 55px;
   border: 1px solid black;
 }

 .OurInstructors-div{
 
  display: grid;
  grid-template-columns: repeat(6,1fr);
  column-gap: 10px;
  padding-left: 40px;
  padding-right: 40px;

 }
 .OurInstructors-div>div{
    
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-bottom: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
 }
 .OurInstructors-div div>img{
  width: 100%;
 }
 .OurInstructors-div div>p{
  text-align: center;
  font-family: 'Oswald', sans-serif;
 
 }

 .OurInstructors-socialMedia a>img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
 }

 /********************Our Instructor***************************************/


 /**************************************testimonial*****************************************/
 .testimonial-header>h3{
  font-weight: 500;
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

#testimonial hr{
  margin: 0 auto;
   width: 55px;
   border: 1px solid black;
 }

 #testimonial{
  margin-top: 100px;
 }

 #testimonials{
  margin-top: 40px;
 }

#item1{
  padding-left: 7%;
  padding-right: 15%;
  padding-bottom: 7%;
}

#item2{
  padding-left: 7%;
  padding-right: 15%;
  padding-bottom: 7%;
}
#item3{
  padding-left: 7%;
  padding-right: 15%;
  padding-bottom: 7%;
}

.testimonial-image{
  width:20%;
  border-radius: 100%;
  margin:20px
}

#testimonials{
   
  text-align: center;
  background-color:#F3AA60 ;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

#press{
  background-color: #F3AA60;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width:15%;
  margin: 20px 20px 50px;
}
#item1>h3,#item2>h3,#item3>h3{
  font-size: 40px;
}
/****************************************testimonial****************************/


/**************************************About Us*****************************************/
#AboutUs{
  margin-top: 80px;
}
.AboutUs-header>h3{
  font-weight: 500;
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}


#AboutUs hr{
  margin: 0 auto;
   width: 55px;
   border: 1px solid black;
 }

 /*****************************faq*******************************************/
 
 .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.container h2 {
  text-align: center;
 color:silver;
 font-family: 'Oswald', sans-serif;
}

.faq {
  list-style: none;
  padding: 0;
}

.faq li {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.question {
  background-color: silver;
  padding: 10px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
}

.answer {
  display: none;
  padding: 15px;
}

.show-answer .answer {
  display: block;
  font-family: 'Oswald', sans-serif;
}

.AboutUs-description{
  padding-left: 5px;
  padding-right: 5px;
}
.AboutUs-description>h4{
 text-align: center;
 font-size: 20px;
}

/******************************************About Us******************************************/






/*********************************************Social Media**************************************/

#SocialMedia hr{
  margin: 0 auto;
   width: 40px;
   border: 1px solid black;
 }

#SocialMedia{
  margin-top: 30px;
}
.SocialMedia-header>h3{
  font-weight: 500;
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.social-icons img{
  width: 50px;
  cursor: pointer;
}

.SocialMedia-container {
  display: grid;
  place-items: center;
}

.social-icons {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px; /* Adjust the gap as needed */
  padding-top: 20px;
}


/******************************************Social Media*******************************************/

/*****************************Footer*******************/
#Footer{

  margin-top: 40px;
  background-color: #1c1d1f;
  padding-bottom: 10px;
}
.Footer-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 20px;
  padding-left: 20px;
  padding-top: 20px;
 
}

.Footer-list>div p{
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  color:white;
}

.Footer-logo{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  font-family: 'Oswald', sans-serif;
  color:white;
  padding-right: 20px;
}

.Footer-logo img{
  width: 70px;
  border-radius: 50%;
}

/* Card css start */


.Cardcontainer {
  border: 1px solid;
  /* display: flex; */
  width: 95%;
  margin: auto;
}

.Sorting {
  border: 1px solid;
  width: 100%;
  height: 100%;
}

.Card-Data {
  border: 1px solid;
  width: 100%;
  height: 100%;
}

.CardBox {
  border: 1px solid;

  display: flex;
}

.Details-section {
  border: 1px solid;
  padding: 10px;
  width: 100%;
  line-height: 1.5;
}

.card-img {
  height: 220px;
  width: 350px;
  padding: 10px;
}

.card-btn {
  padding: 10px 20px;
  background-color:  #008CBA;
  color: white;
  border: none;
  font-size:18px;
  font-weight: bold;
  margin-top: 10px;
border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
}

/* Card Css end */



/**********************Footer*************************/
 
/***************Navbar*************************/

/************************Navbar*********************/
@media screen and (max-width: 767px) {

  .sliding{
    margin-bottom:0%;
  }
 
.img{
 width: 100%;
}

.headerOfCourse h3{
  font-size: 30px;
 
}
.social-icons img{
  width: 35px;
}
.OurInstructor-header h3{
  font-size: 30px;
 
}

.testimonial-header>h3{
  font-size: 30px;
 
}



.SocialMedia-header>h3{
  font-size: 30px;
 
}
.AboutUs-header>h3{
  font-size: 30px;
 
}

.AboutUs-description{
  padding-left: 5px;
}
.AboutUs-description>h4{
 text-align: center;
 font-size: 15px;
}


#item1>h3,#item2>h3,#item3>h3{
   font-size: large;
}

.CourseChild{
  display: grid;
  grid-template-columns: repeat(1,1fr);
 row-gap: 10px;
 
}
#CourseOfHome{
  padding-left: 20px;
  padding-right: 20px;

}

.CourseChild div p{
  margin-right: 2px;
 
}

#CourseOfHome>button{
  margin-top: 20px;
  margin-left: 30%;
 }

 .OurInstructors-div {
   text-align: center;
   grid-template-columns: repeat(3,1fr);
   row-gap: 10px;
   padding-right: 20px;
   padding-left:20px ;
}
.OurInstructors-div>div {
  padding-bottom: 5px;
}

.Footer-list{
 
  column-gap: 10px;
 
}

.Footer-logo img{
  width: 60px;
 
}

.sliding{
  margin-bottom:40%;
}
.sliding>h3{
 
  font-size: 40px;
font-weight: 600;


.card-img{
  width: 200px;
  height:200px;
}

.Details-section {
  line-height: 1.0;
  font-size:15px
}


}
}
